#parse("html_res/adg/html-head.vm")

#parse("html_res/adg/html-body-start.vm")

#parse("html_res/adg/page-content-header.vm")

<div class="aui-tabs horizontal-tabs">

    #if ($tree && ${tree.name} == "App")
        #set ($currentHorizontalNav = "App")
    #else
        #set ($currentHorizontalNav = "Test")
    #end
    #parse("html_res/adg/pkg-tabs-menu.vm")

    <div class="tabs-pane active-pane" id="tabs-first">

        <div>&#160;</div>

        #parse("html_res/adg/container-statistics.vm")
        #parse("html_res/adg/warnings.vm")

        #* render overall summary coverage graph *#
        <table id="projectSummaryTable" class="aui">
            #set ($title = "Project")
            #parse("html_res/adg/column-header-top.vm")

            <tbody>
                #set ($entity = $projectInfo)
                #set ($entityText = ${projectInfo.name})
                #set ($entityLink = "")
                #parse("html_res/adg/coverage-row.vm")
            </tbody>
        </table>

        <div>&#160;</div>
        #set ($showPackageMetrics = "aggregated")
        #parse("html_res/adg/pkg-aggregate-toggle.vm")

        #* render aggregated packages *#
        <table id="aggregatedPacakgesTable" class="aui aui-table-sortable">
            #set ($title = "Package (aggregated)")
            #parse("html_res/adg/column-header.vm")

            <tbody>
                <!-- render list of package coverage bargraphs -->
                #foreach ($pkg in $packageFragments)
                    #set($metrics = ${renderUtil.metricsFor($pkg)})
                    #if ($showEmpty || !$metrics.empty)
                        #set ($entity = $pkg)
                        #set ($entityText = ${pkg.qualifiedName})
                        #if ($pkg.concrete)
                            #set ($entityLink = $renderUtil.getPkgURLPath($pkg.qualifiedName, "$!{tree.pathPrefix}pkg-summary.html"))
                        #else
                            #set ($entityLink = "")
                        #end
                        #parse("html_res/adg/coverage-row.vm")
                    #end
                #end
            </tbody>
        </table>

    </div> <!-- tabs-pane active-pane -->
</div> <!-- aui-tabs horizontal-tabs -->

#parse("html_res/adg/html-body-end.vm")