<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=${charset}"/>

    #if ($noCache)
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="-1"/>
    #end

    #if ($baseUrl)
        <base href="$baseUrl"/>
    #end

    <link rel="SHORTCUT ICON" href="${rootRelPath}img/clover.ico" />

    <link rel="stylesheet" href="${rootRelPath}aui/css/aui.min.css" media="all"/>
    <link rel="stylesheet" href="${rootRelPath}aui/css/aui-experimental.min.css" media="all"/>
    <!--[if IE 9]><link rel="stylesheet" href="${rootRelPath}aui/css/aui-ie9.min.css" media="all"/><![endif]-->

    <style type="text/css" media="all">
        @import url('${rootRelPath}style.css');
        @import url('${rootRelPath}tree.css');
        $!additionalCss
    </style>

    <script src="${rootRelPath}jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="${rootRelPath}aui/js/aui.min.js" type="text/javascript"></script>
    <script src="${rootRelPath}aui/js/aui-experimental.min.js" type="text/javascript"></script>
    <script src="${rootRelPath}aui/js/aui-soy.min.js" type="text/javascript"></script>

    <script src="${rootRelPath}package-nodes-tree.js" type="text/javascript"></script>
    <script src="${rootRelPath}clover-tree.js" type="text/javascript"></script>
    <script src="${rootRelPath}clover.js" type="text/javascript"></script>
    <script src="${rootRelPath}clover-descriptions.js" type="text/javascript"></script>
    <script src="${rootRelPath}cloud.js" type="text/javascript"></script>

    #if ($pageTitle)
        <title>$pageTitle</title>
    #else
        <title>OpenClover</title>
    #end
</head>
