<button class="aui-button aui-button-subtle" id="popupHelp">
    <span class="aui-icon aui-icon-small aui-iconfont-help"></span>&#160;Show legend
</button>
<script>
    AJS.InlineDialog(AJS.$("#popupHelp"), "helpDialog",
            function(content, trigger, showPopup) {
                content.css({"padding":"20px"}).html(SRC_FILE_LEGEND_TEXT);
                showPopup();
                return false;
            },
            {
                width: 700, hideDelay: 60000
            }
    );
</script>