#parse("html_res/adg/html-head.vm")

#set($colSpan = 6)
#set($srcLink = $renderUtil.getMethodLink($topLevel, $test.sourceMethod))
#set($classLink = $renderUtil.getSrcFileLink($topLevel, false, $test.runtimeType))
#set($pkgLink = ${renderUtil.getPkgURLPath($test.runtimeType.package.name)})
#set($packageName = ${test.runtimeType.package.name})

#parse("html_res/adg/html-body-start-test.vm")

#parse("html_res/adg/test-page-content-header.vm")
#parse("html_res/adg/warnings.vm")
#parse("html_res/adg/test-noresults-warning.vm")

<table class="aui">
    <thead>
        <tr>
            <th>Test</th>
            #if ($showUnique)
                <th><label title="The percentage of this test's coverage that is unique.">Unique Coverage</label></th>
            #end
            <th><label title="The test result. Either a Pass, Fail or Error.">Status</label></th>
            <th><label title="When the test execution was started">Start time</label></th>
            <th><label title="The total time in seconds taken to run this test.">Time (seconds)</label></th>
            <th><label title="A failure or error message if the test is not successful.">Message</label></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a #if($showSrc) href="$rootRelPath$srcLink" #else class="nolink" #end>$test.testName</a>
            </td>
            #if ($showUnique)
            <td>
                $pcUniqueCoverage
            </td>
            #end
            <td>
                #if($test.hasResult)
                    #set($testCase = $test)
                    #parse("html_res/adg/test-result-status-long.vm")
                #end
            </td>
            <td>
                $renderUtil.formatShortDate($test.startTime)
            </td>
            <td>
                #if($test.hasResult)$test.duration#else - #end
            </td>
            <td>
                <div>#if(${test.failMessage})${renderUtil.htmlEscapeStr($test.failMessage)}#end</div>
                <div class="errorMessage">#if(${test.failFullMessage}) #if($showSrc) ${renderUtil.linkifyStackTrace($rootRelPath, ${test.stackTrace})} #else ${renderUtil.htmlEscapeStr($test.failFullMessage)} #end #end</div>
            </td>
        </tr>
    </tbody>
</table>

<div>&#160;</div>

#if ($targetClasses.isEmpty())
    <div class="aui-message">
        <p class="title">
            <strong>No contributions</strong>
        </p>
        <p>No classes were hit by this test.</p>
    </div>
#else
    <table class="aui aui-table-sortable">
        <thead>
            <tr>
                <th style="white-space:nowrap;"><label title="A class that was directly hit by this test.">Target Class</label></th>
                #if ($showUnique)
                    <th><label title="The percentage of coverage that is uniquely generated by this test.">Unique</label></th>
                #end
                <th colspan="4"><label title="The percentage of coverage contributed by each single test.">Coverage contributed by</label> ${test.testName}</th>
            </tr>
        </thead>
        <tbody>

#foreach ($targetClass in $targetClasses)

    #set($metric = $targetClass.Metrics)
    <tr>
        <td>
            <span class="sortValue">${renderUtil.truncateStart(${targetClass.qualifiedName})}</span>
            &#160;&#160;<a #if($showSrc)
            href="${rootRelPath}${renderUtil.getSrcFileLink($topLevel, $targetClass, $test.id)}" #else
            class="nolink" #end
            title="${targetClass.name}" name="sl-${targetClass.startLine}">${renderUtil.truncateStart(${targetClass.qualifiedName})}</a>
        </td>
        #if ($showUnique)
        <td>
            #set($uniqueTargetClass = $uniqueTargetClasses.get($targetClass.qualifiedName))
            #if ($uniqueTargetClass)
                #set($uMetric = $uniqueTargetClass.Metrics)
                <span class="sortValue">$uMetric.PcCoveredElements</span>$renderUtil.getPercentStr($uMetric.pcCoveredElements)
                #set($uniqueTargetClass = false)
            #else
                <span class="sortValue">0.0</span>
            #end
        </td>
        #end
        #set($pccovered = $metric.pcCoveredElements)
        <td>
            <span class="sortValue">$metric.PcCoveredElements</span>$renderUtil.getPercentStr($pccovered)
        </td>
        <td class="align-middle" style="width: 100%" colspan="3">
            #set($empty = $metric.empty)
            #set($width = 40)
            #set($customBarNegative = "contribBarNegative")
            #set($customBarPositive = "contribBarPositive")
            #parse("html_res/adg/bar-graph-div.vm")
        </td>
    </tr>
#end ## CLASS LOOP

        </tbody>
    </table>
#end

#parse("html_res/adg/html-body-end.vm")