<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.startup">
		<startup class="org.openclover.eclipse.testopt.views.actions.ClearSnapshotActionDelegate"/>
	</extension>
	<extension point="org.eclipse.ui.viewActions">
		<viewContribution
				targetID="org.openclover.eclipse.core.views.CloverView"
				id="org.openclover.eclipse.testopt.view.action.contribution">
			<action
					label="%project.clearsnapshot"
					tooltip="%project.clearsnapshottooltip"
					icon="icons/delete_snapshot.png"
					class="org.openclover.eclipse.testopt.views.actions.ClearSnapshotActionDelegate"
					menubarPath="org.openclover.eclipse.core.actions.coverage.clear"
					toolbarPath="project.ops/org.openclover.eclipse.core.actions.coverage.clear"
					id="org.openclover.eclipse.testopt.actions.snapshot.clear">
			</action>
		</viewContribution>
		<viewContribution
				targetID="org.openclover.eclipse.core.views.testrunexplorer"
				id="org.openclover.eclipse.testopt.view.action.contribution2">
			<action
					label="%project.clearsnapshot"
					tooltip="%project.clearsnapshottooltip"
					icon="icons/delete_snapshot.png"
					class="org.openclover.eclipse.testopt.views.actions.ClearSnapshotActionDelegate"
					menubarPath="org.openclover.eclipse.core.actions.coverage.clear"
					toolbarPath="project.ops/org.openclover.eclipse.core.actions.coverage.clear"
					id="org.openclover.eclipse.testopt.actions.snapshot.clear2"/>
		</viewContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<viewerContribution
				targetID="org.openclover.eclipse.core.views.CloverView"
				id="org.openclover.eclipse.testopt.popup.action.contribution">
			<action
					label="%project.clearsnapshot"
					tooltip="%project.clearsnapshottooltip"
					icon="icons/delete_snapshot.png"
					class="org.openclover.eclipse.testopt.views.actions.ClearSnapshotActionDelegate"
					menubarPath="org.openclover.eclipse.core.actions.coverage.clear"
					id="org.openclover.eclipse.testopt.actions.snapshot.clear3"/>

		</viewerContribution>
		<viewerContribution
				targetID="org.openclover.eclipse.core.views.testrunexplorer"
				id="org.openclover.eclipse.testopt.popup.action.contribution2">
			<action
					label="%project.clearsnapshot"
					tooltip="%project.clearsnapshottooltip"
					icon="icons/delete_snapshot.png"
					class="org.openclover.eclipse.testopt.views.actions.ClearSnapshotActionDelegate"
					menubarPath="org.openclover.eclipse.core.actions.coverage.clear"
					id="org.openclover.eclipse.testopt.actions.snapshot.clear4"/>
		</viewerContribution>
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.openclover.eclipse.testopt.settings.TestOptimizationGlobalPreferencesInitializer"/>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			class="org.openclover.eclipse.testopt.settings.TestOptimizationGlobalPreferencesPage"
			id="org.openclover.eclipse.testopt.preferences.testOptimizationPreferencesPage"
			category="org.openclover.eclipse.core.preferences.cloverGeneralPreferencesPage"
			name="%clover.optimization"/>
	</extension>

	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml" primary="true"/>
	</extension>
	<extension point="org.eclipse.debug.core.launchModes">
		<launchMode label="%launch.optimized" mode="clover.optimized"/>
	</extension>

	<extension
		point="org.eclipse.debug.core.launchDelegates">
		<launchDelegate
			delegate="org.openclover.eclipse.testopt.CloveredOptimizedLauncherDelegate"
			id="org.openclover.eclipse.core.optimized.JUnitLaunchConfig"
			modes="clover.optimized"
			type="org.eclipse.jdt.junit.launchconfig"/>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchGroups">
		<launchGroup
			id="org.openclover.eclipse.core.launching.optimized.group"
			label="%launch.optimized.group.label"
			mode="clover.optimized"
			title="%launch.optimized.group.title"
			image="icons/run_optimized.png"
			bannerImage="icons/clover64.png"/>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
            adaptable="true"
            id="org.openclover.eclipse.core.launching.optimized.popup.menu"
            objectClass="org.eclipse.jdt.core.IJavaElement">
			<!-- This action will flll the menu with appropriate Clover-enabled launch shortcuts -->
			<action
				label="%launch.optimized.popup.group.label"
				style="pulldown"
				class="org.openclover.eclipse.testopt.actions.ContextualRunOptimizedAction"
				menubarPath="additions"
				enablesFor="+"
				id="org.openclover.eclipse.core.launching.optimized.popup.menu.submenu">
			</action>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			id="org.openclover.eclipse.core.launching.JUnitShortcut"
			label="%launch.junit.label"
			icon="icons/run_optimized.png"
			modes="clover.optimized"
			class="org.eclipse.jdt.junit.launcher.JUnitLaunchShortcut:org.eclipse.jdt.junit.junitShortcut">
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="1"/>
						<iterate>
							<adapt
								type="org.eclipse.jdt.core.IJavaElement">
								<test
									property="org.eclipse.jdt.core.isInJavaProjectWithNature"
									value="org.openclover.eclipse.core.clovernature"/>
								<test property="org.eclipse.jdt.core.isInJavaProject"/>
								<test
									property="org.eclipse.jdt.core.hasTypeOnClasspath"
									value="junit.framework.Test"/>
								<test
									property="org.eclipse.jdt.junit.canLaunchAsJUnit"
									forcePluginActivation="true"/>
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
		<!--<shortcut-->
			<!--id="org.openclover.eclipse.core.launching.optimized.JUnitPDEShortcut"-->
			<!--label="%launch.junit.plugin.label"-->
			<!--icon="icons/cview16/clover.gif"-->
			<!--modes="clover.optimized"-->
			<!--class="org.eclipse.jdt.junit.launcher.JUnitLaunchShortcut:org.eclipse.pde.ui.junitWorkbenchShortcut">-->
			<!--<contextualLaunch>-->
				<!--<enablement>-->
					<!--<with variable="selection">-->
						<!--<count value="1"/>-->
						<!--<iterate>-->
							<!--<adapt type="org.eclipse.jdt.core.IJavaElement">-->
								<!--<test-->
									<!--property="org.eclipse.jdt.core.isInJavaProjectWithNature"-->
									<!--value="org.openclover.eclipse.core.clovernature"/>-->
								<!--<test-->
									<!--property="org.eclipse.jdt.core.isInJavaProjectWithNature"-->
									<!--value="org.eclipse.pde.PluginNature"/>-->
								<!--<test-->
									<!--property="org.eclipse.jdt.core.hasTypeOnClasspath"-->
									<!--value="junit.framework.Test"/>-->
								<!--<test-->
									<!--property="org.eclipse.jdt.junit.canLaunchAsJUnit"-->
									<!--forcePluginActivation="true"/>-->
							<!--</adapt>-->
						<!--</iterate>-->
					<!--</with>-->
				<!--</enablement>-->
			<!--</contextualLaunch>-->
		<!--</shortcut>-->
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
		      type="org.eclipse.jdt.junit.launchconfig"
		      helpContextId="org.eclipse.jdt.junit.junit_tab_group"
		      class="org.eclipse.jdt.internal.junit.launcher.JUnitTabGroup"
		      id="org.openclover.eclipse.testopt.junitLaunchGroup">
		   <launchMode
		         description="%launch.optimized.tabgroups.junit.description"
		         mode="clover.optimized">
		   </launchMode>
		</launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabs">
	    <tab
	       class="org.openclover.eclipse.testopt.settings.OptimizedLaunchConfigurationTab"
	        group="org.openclover.eclipse.testopt.junitLaunchGroup"
	        id="org.openclover.eclipse.testopt.OptimizedLaunchConfiguration"
	        name="Test Optimization">
		    <placement after="org.eclipse.jdt.junit.JUnitLaunchConfigurationTab"/>
		    <!--<associatedDelegate delegate="org.openclover.eclipse.core.optimized.JUnitLaunchConfig"/>-->
	    </tab>
	 </extension>

	<extension
		point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.openclover.eclipse.core.launching.optimized.CloverActionSet"
			label="%launch.optimized.actionset.label"
			visible="false">
			<menu
				id="org.eclipse.ui.run"
				label="%launch.optimized.menu.run.label"
				path="additions">

            	<separator name="relaunchGroup"/>
            	<separator name="emptyLaunchGroup"/>
			</menu>
			<action
				class="org.openclover.eclipse.testopt.actions.OptimizedLaunchToolbarAction"
				hoverIcon="icons/run_optimized.png"
				icon="icons/run_optimized.png"
				id="org.openclover.eclipse.core.launching.optimized.actions.CloverLaunchToolbarAction"
				label="%launch.optimized.toolbar.label"
				style="pulldown"
				toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"/>
			<action
				class="org.openclover.eclipse.testopt.actions.OpenOptimizedConfigurationAction"
				definitionId="org.openclover.eclipse.core.launching.optimized.commands.OpenOptimizedConfiguration"
				id="org.openclover.eclipse.core.launching.optimized.actions.OpenCoverageConfiguration"
				label="%launch.optimized.toolbar.open.label"
				menubarPath="org.eclipse.ui.run/emptyLaunchGroup"/>
			<action
				class="org.openclover.eclipse.testopt.actions.RunOptimizedAsAction"
				id="org.openclover.eclipse.core.launching.optimized.actions.RunWithCloverAsAction"
				label="%launch.optimized.toolbar.run.as.label"
				menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
				style="pulldown"/>
			<action
				class="org.openclover.eclipse.testopt.actions.OptimizedRunHistoryAction"
				id="org.openclover.eclipse.core.launching.optimized.actions.CloverRunHistoryAction"
				label="%launch.optimized.toolbar.run.history.label"
				menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
				style="pulldown"/>
			<action
				class="org.openclover.eclipse.testopt.actions.LastOptimizedLaunchAction"
				definitionId="org.openclover.eclipse.core.launching.optimized.commands.LastCloveredLaunch"
				hoverIcon="icons/run_optimized.png"
				icon="icons/run_optimized.png"
				id="org.openclover.eclipse.core.lauching.optimized.actions.LastCloveredLaunchAction"
				label="%launch.optimized.toolbar.last.optimized.name"
				menubarPath="org.eclipse.ui.run/relaunchGroup"/>
		</actionSet>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="org.openclover.eclipse.core.launching.optimized.commands.JUnitShortcut"
			categoryId="org.eclipse.debug.ui.category.run"
			description="%launch.optimized.commands.junit.shortcut.description"
			name="%launch.optimized.commands.junit.shortcut.name"/>
	</extension>
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<actionSet id="org.openclover.eclipse.core.launching.optimized.CloverActionSet"/>
		</perspectiveExtension>
		<perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
			<actionSet id="org.openclover.eclipse.core.launching.optimized.CloverActionSet"/>
		</perspectiveExtension>
		<perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
			<actionSet id="org.openclover.eclipse.core.launching.optimized.CloverActionSet"/>
		</perspectiveExtension>
		<perspectiveExtension targetID="org.eclipse.pde.ui.PDEPerspective">
			<actionSet id="org.openclover.eclipse.core.launching.optimized.CloverActionSet"/>
		</perspectiveExtension>

	</extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="toolbar:org.eclipse.jdt.junit.ResultView">
       <dynamic
             class="org.openclover.eclipse.testopt.views.actions.SavingsNotificationContributionItem"
             id="org.openclover.eclipse.testopt.savingsReporter">
       </dynamic>
    </menuContribution>
 </extension>
<extension point="org.eclipse.ui.workbench.texteditor.rulerColumns">
    <column id="org.openclover.eclipse.core.coverageannotation.touchingtests" name="Touching Tests"
        class="org.openclover.eclipse.testopt.editors.ruler.CoverageAnnotationRulerColumn"
        enabled="true"
        global="true"
        includeInMenu="true">
        <placement gravity="1.0">
            <!--<after id="org.eclipse.ui.editors.columns.annotations"/> -->
        </placement>
        <targetClass class="org.eclipse.ui.texteditor.AbstractDecoratedTextEditor" />
    </column>
</extension>

</plugin>
