html * {
    margin: 0;
}

body {
    background: #fff;
    color: #333;
    font: 12px verdana, arial, helvetica, sans-serif;
}

a:link, a:visited, a:hover {
    color: #0063DC;
    font-weight: bold;
    text-decoration: none;
    border:none;
}

a img {
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 12px;
    margin: .8em 0 .3em 0;
}

#header {
  margin: 0;
  padding: 10px 10px 0;
  background-color: #003366;
  border-bottom: 7px solid #6699CC;
    color:white;
}

#container {
  width: 100%;
  /*float: left;*/
}

#page {
  margin: 5px;
  background-color: #fff;
  color: #4B4B4B;
  border: 2px solid #BFBFBF;
}

#sidebar {
  float: right;
  margin-left: -30px;
}

#frame {
  width:710px;
  height:100%;
  margin-right:auto;
  margin-left:auto;
  margin-top:10px;
  padding:0px;
  text-align:left;
}

#contentleft {
  width:0px;
  padding:0px;
  float:left;
  padding-top:30px;
}

#contentcenter {
  width:710px;
  padding:0px;
  float:left;

}

#contentright {
  width:160px;
  padding:0px;
  float:left;
}

.text {
  font-size: 16px;
}

.barNegative {
    font-size: 2px;
    background: #DF0000;
    border: #9c9c9c 1px solid;
    text-align: left;
    height: 12px;
    width: 100%;
}

.barPositive {
    font-size: 2px;
    background: #00DF00;
    height: 12px;
}

thead {
    color: white;
    background-color: #6699CC;
    padding-bottom: 15px;
}

TD.arrowUp:hover, TD.arrowUp {
    background-position: top right;
    background-image: url( "../img/icn_up.gif" );
    background-repeat: no-repeat;
}

TD.arrowDown:hover, TD.arrowDown {
    background-position: top right;
    background-image: url( "../img/icn_down.gif" );
    background-repeat: no-repeat;
}

span.sortValue {
    display: none;
}

.sortable:hover {
    background-color: bisque;
    color:black;
}

.sortable {
    cursor: pointer;
    padding-right: 10px;
}

.strong {
    font-weight:bold;
}

.splash {
    width: 360px;
    height: 300px;
    background-image: url("../img/buildsplash_loop.gif");
    background-position: center;
    background-repeat: no-repeat;
}

tr.highlight:hover {
   background-color:#D0EAF9;
}

#leaderboard {
  text-align:right;
}

#leaderboard tr td {
  border-bottom: solid lightgray 1px;
}

#historyLink {
  border:none;
}

.footer {
    font-size: 10px;
    color: gray;
}

#imgpane {
    float:right;
    width:350px;
    height:278;
    padding-right:5px;
    text-align:right;
}