<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.core.runtime.applications"
               id="application"
               name="OpenClover Eclipse Functional Test Runner">
        <application>
            <run class="org.openclover.eclipse.functest.runner.Application"/>
        </application>
    </extension>
</plugin>
