<button class="aui-button aui-button-subtle" id="popupHelp">
    <span class="aui-icon aui-icon-small aui-iconfont-help"></span>&#160;$buttonTitle
</button>
<script>
    AJS.InlineDialog(AJS.$("#popupHelp"), "helpDialog",
            function (content, trigger, showPopup) {
                var description = $description();
                var title = '$renderUtil.javaScriptEscapeStr($title)';
                content.css({"padding": "20px"}).html(
                        '<h2>' + title + '</h2>' + description);
                showPopup();
                return false;
            },
            {
                width: 600
            }
    );
</script>
