<ul class="tabs-menu">
    #if ($projectInfo && !$packageInfo)
        <li class="menu-item #if ($currentHorizontalNav == "Dashboard")active-tab#end">
            <a href="dashboard.html">Dashboard</a>
        </li>
    #end
    #if ($appPagePresent)
        <li class="menu-item #if ($currentHorizontalNav == "App")active-tab#end">
            <a href="pkg-summary.html"><strong>Application code</strong></a>
        </li>
    #end
    #if ($testPagePresent)
        <li class="menu-item #if ($currentHorizontalNav == "Test")active-tab#end">
            <a href="testsrc-pkg-summary.html"><strong>Test code</strong></a>
        </li>
        <li class="menu-item #if ($currentHorizontalNav == "Results")active-tab#end">
            <a href="test-pkg-summary.html"><strong>Test results</strong></a>
        </li>
    #end
    #if ($appPagePresent)
        <li class="menu-item #if ($currentHorizontalNav == "TopRisks")active-tab#end">
            <a href="top-risks.html"><strong>Top risks</strong></a>
        </li>
        <li class="menu-item #if ($currentHorizontalNav == "QuickWins")active-tab#end">
            <a href="quick-wins.html"><strong>Quick wins</strong></a>
        </li>
        ## display a tree map for a project-level report; because of the fact that projectInfo is available
        ## on a test results page also for a package-level, check also that packageInfo is null
        #if ($projectInfo && !$packageInfo && !$skipCoverageTreeMap)
            ## TODO generate per-package tree maps too
            <li class="menu-item #if ($currentHorizontalNav == "TreeMap")active-tab#end">
                <a href="treemap.html"><strong>Coverage tree map</strong></a>
            </li>
        #end
    #end
</ul>