#*
    Renders a table containing all classes located in a source file (fileInfo).
    For each class renders list of methods in it together with their code metrics and coverage
*#

#if ($fileInfo.classes.size() > 0)

    <h2>Classes</h2>

    ## first table - list classes only with buttons opening the modal dialog
    <table class="aui aui-table-sortable">
        <thead>
            ## grab first class - only to have proper names of metrics
            #set ($class = $fileInfo.classes.get(0))
            #set ($showDetailsButton = true)
            #parse ("html_res/adg/src-file-classes-header-row.vm")
        </thead>
        <tbody>
            #foreach ($class in $fileInfo.classes) ## CLASS LOOP
                #set ($showCaption = false)
                #set ($showDetailsButton = true)
                #parse ("html_res/adg/src-file-classes-class-row.vm")
            #end ## CLASS LOOP
        </tbody>
    </table>

    ## second table - create a modal dialog for every class

    #foreach ($class in $fileInfo.classes) ## CLASS LOOP

        <section role="dialog" id="dialog-${renderUtil.blankNonAlpha($class.name)}" class="aui-layer aui-dialog2 aui-dialog2-xlarge" aria-hidden="true">
            #* dialog header *#
            <header class="aui-dialog2-header">
                <h1 class="aui-dialog2-header-main">Class ${class.name}</h1>
                <div class="aui-dialog2-header-secondary">
                    <input id="dialog-${class.name}-method-filter" class="test-filter text" type="text" name="method-filter"
                           placeholder="Type to filter methods..." autocomplete="off"
                           onkeyup="filterMethods('dialog-${class.name}-methods-body', 'dialog-${class.name}-method-filter');"/>
                </div>
            </header>

            #* main dialog content *#
            <div class="aui-dialog2-content">

                #* ****************************************************************************************************** *#

                <table class="aui aui-table-sortable">
                    ## count number of methods after filtering - used by toggleClass() function
                    #set ($methodsCount = 0)
                    #foreach ($method in $class.allMethods)
                        #if ( ($showLambdaFunctions || !$method.isLambda()) && ($showInnerFunctions || !$entityUtils.isInnerMethod($method)) )
                            #set ($methodsCount = $methodsCount + 1)
                        #end
                    #end

                    <thead>
                        #set ($showCaption = true)
                        #set ($showDetailsButton = false)
                        #parse ("html_res/adg/src-file-classes-class-row.vm")
                    </thead>
                    <tbody id="dialog-${class.name}-methods-body">
                        #set ($rowIndex = 0)
                        #foreach ($method in $class.allMethods)
                            #if ( ($showLambdaFunctions || !$method.isLambda()) && ($showInnerFunctions || !$entityUtils.isInnerMethod($method)) )
                                #set ($rowIndex = $rowIndex + 1)
                                #parse("html_res/adg/src-file-classes-method-row.vm")
                            #end
                        #end ## METHOD LOOP
                    </tbody>
                </table>

                <div>&#160;</div>
                #* ****************************************************************************************************** *#

            </div>

            #* dialog footer *#
            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button class="aui-button aui-button-primary dialog-close-button"
                            data-dialog-id="dialog-${renderUtil.blankNonAlpha($class.name)}">Close</button>
                </div>
                <div class="aui-dialog2-footer-hint">Click on a class or a method name to jump to source.</div>
            </footer>
        </section>

    #end ## CLASS LOOP

#end ## fileInfo.classes.size() > 0
