## note: this is a frequenly used template, using less whitespace to reduce report size
#if ($showCaption) #set ($tx = "th") #else #set ($tx = "td") #end
<tr> ## HEADER ROW START
<$tx id="$class.name">
    #if ($showCaption)Class<br/>#end
    <span><a href="#$class.startLine" title="$class.name" onclick="closeDialogAndScrollTo('dialog-${renderUtil.blankNonAlpha($class.name)}', '${class.startLine}');">${renderUtil.truncateStart($class.name)}</a></span>
</$tx>
<$tx>#if ($showCaption)Line #<br/>#end$class.startLine<a name="sl-$class.startLine"></a></$tx>
#foreach ($col in $columns)
    #set($classMetrics = ${renderUtil.metricsFor($class)})
    $col.init($classMetrics)<$tx class="$col.style">#if ($showCaption)<label #if($col.help) title="$col.help"#end>$col.getTitle($childHeaderInfo.metrics)</label><br/>#end$col.render()</$tx>$col.reset()
#end
#if ($showDetailsButton)
    <$tx><button data-dialog-id="dialog-${renderUtil.blankNonAlpha($class.name)}" class="aui-button aui-button-link dialog-show-button">Show methods</button></$tx>
#end
</tr> ## HEADER ROW END