#if (!$hasResults)
    <div class="aui-message aui-message-warning">
        <p class="title">
            <strong>No test results</strong>
        </p>
        <p>No test results could be found. Please ensure that you have instrumented your unit tests correctly.</p>
    </div>
#end